@page "/registerpage"
@using System.Text.Json
@using System.Text
@using BlazingBooks.Services
@inject NavigationManager NavigationManager
@inject AuthService AS

<div class="auth-main">
	<div class="auth-content">
		<h3>Register</h3>
		<form @onsubmit="registerUser">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="user" @bind-value="username" />
				<input type="text" class="form-control" placeholder="pass" @bind-value="password" />
				<input type="submit" class="btn btn-primary" value="Register"/>
			</div>
		</form>
		<div>Already have an account?
			<NavLink href="/loginpage" Match="NavLinkMatch.Prefix" class="btn btn-secondary">
				<div>Login</div>
			</NavLink>
		</div>
	</div>
</div>


@code {
	public string username;
	public string password;

	public async Task registerUser()
	{
		UserData userData = new UserData(username, password);

		var result = await AS.Register(userData);

		if (result.Successful)
		{
			NavigationManager.NavigateTo("/loginpage");
		}
	}
}