@using BlazingBooks.Services
@inject NavigationManager NavigationManager
@inject AuthService AS

<div class="top-bar">
    <NavLink href=@HomePageURI Match="NavLinkMatch.All" class="logo">
        <img src="img/logo.svg" />
    </NavLink>
    <NavLink href="/genres" Match="NavLinkMatch.Prefix" class="nav-tab">
        <div>Genres</div>
    </NavLink>
    <NavLink href="/authors" Match="NavLinkMatch.Prefix" class="nav-tab">
        <div>Authors</div>
    </NavLink>
    <AuthorizeView>
        <Authorized>
            <button class="nav-tab" @onclick="Logout">
                Logout
            </button>
            <UserProfileLink/>
        </Authorized>
        <NotAuthorized>
            <NavLink href="/loginpage" Match="NavLinkMatch.Prefix" class="nav-tab">
                <div>Login</div>
            </NavLink>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <button class="nav-tab">
            Admin Panel
        </button>
    </AuthorizeView>
</div>

@code {
    public string HomePageURI { get; set; }

    protected override void OnInitialized()
    {
        HomePageURI = NavigationManager.BaseUri;
    }

    private async void Logout()
    {
        await AS.Logout();
        NavigationManager.NavigateTo("/");
    }
}
