@inherits LayoutComponentBase
@layout TopBarLayout
@inject OrderState OrderState

<div class="main">
    <div class="books">
        @Body
    </div>
<AuthorizeView>
    <Authorized>
        <SideBar/>
    </Authorized>
</AuthorizeView>
</div>