@page "/registerpage"
@*@using BlazingBooks.Controllers*@
@*@inject AuthController Auth*@
@using System.Text.Json
@using System.Text

<h3>Register</h3>
<form @onsubmit="registerUser">
	<input type="text" placeholder="user" @bind-value="username" />
	<input type="text" placeholder="pass" @bind-value="password" />
	<input type="submit" />
</form>

@content
@token

<div>Уже есть аккаунт?
	<NavLink href="/loginpage" Match="NavLinkMatch.Prefix" class="nav-tab">
		<div>Войти</div>
	</NavLink>
</div>

@code {
	public string username;
	public string password;
	public string content;
	public string token;

	public async Task registerUser()
	{
		using (var httpClient = new HttpClient())
		{
			UserData userData = new UserData(username, password);
			content = JsonSerializer.Serialize(userData);
			var stringContent = new StringContent(content, UnicodeEncoding.UTF8, "application/json");
			using (var response = await httpClient.PostAsync("http://localhost:20845/api/Auth/register", stringContent))
			{
				token = await response.Content.ReadAsStringAsync();
				StateHasChanged();
			}
		}
	}
}