@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="top-bar">
            <NavLink href=@HomePageURI Match="NavLinkMatch.All" class="logo">
                <img src="img/logo.svg" />
            </NavLink>
            <NavLink href="/loginpage" Match="NavLinkMatch.Prefix" class="nav-tab">
                <div>Здравствуйте, @context.User.Identity.Name</div>
            </NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="top-bar">
            <NavLink href=@HomePageURI Match="NavLinkMatch.All" class="logo">
                <img src="img/logo.svg" />
            </NavLink>
            <NavLink href="/loginpage" Match="NavLinkMatch.Prefix" class="nav-tab">
                <div>Войти</div>
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string HomePageURI { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HomePageURI = NavigationManager.BaseUri;
    }
}
